body {
    font-family: 'Garamond', serif;
    margin: 0;
    padding: 0;
    color: #333;
    position: relative; 
    overflow: hidden;
}

.icon-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.fixed-icon {
    width: 60px;
    height: auto;
    transition: transform 0.3s ease;
}

.fixed-icon:hover {
    transform: scale(1.2);
}

.info-icon-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 10;
}

.info-icon {
    width: 30px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.info-icon:hover {
    transform: scale(1.2);
}

.hidden-text {
    display: none;
    font-size: 14px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 5px;
}

.show {
    display: inline;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    z-index: -1; 
}

.login-container {
    background-color: rgba(0, 0, 0, 0.8); 
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 20px auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #f5f5dc;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #f5f5dc;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #8b4513; 
    color: #f5f5dc; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

button:hover {
    background-color: #6f3f1f;
}

#error-message {
    color: #ff0000; 
    font-size: 14px;
    margin-top: 10px;
}

.hidden {
    display: none;
}

#entrar, #cadastrar, #backToLoginBtn {
    margin-top: 12px;
}

#goToRegisterBtn {
    margin-top: -12px;
}
